.grid-container{
    width: 100%;
    background-color: pink;
    margin: 0;
    justify-content: space-around;
}

#projects{
    background-color: yellow;
}

.card-content{
    text-align: left;
}

.card-content ul{
    padding: 1em;
}

.card-technology-icons{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.card-technology-icons img{
    height: 2em;
    width: 2em;
}

.card-header{
    height: 64px;
    background-color: turquoise;
}

.project-card{
    width: 400px;
    margin: 16px;
}

