.education-grid-container{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    justify-content: space-around;
}

.education-card-content{
    text-align: left;
}

.education-card-content ul{
    padding: 1em;
}

.education-card{
    width: 350px;
    margin: 16px;
}

.education-card-main{
    text-align: left;
}

.education-pndts{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}

.education-card img{
    height: 300px;
    width: 300px;
    border-bottom: 1px solid #ddd;
}

.education-card-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 0.75em;
}

.education-card-bottom span{
    display: flex;
    align-items: center;
}

