*{
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.section{
  width: 100%;
  text-align: center;
}

.section h1{
  padding-top: 1em;
  padding-bottom: 2em;
}

.roll-in{
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.rolled-in.roll-in{
  opacity: 1;
}
