.skills-section{
    margin-top: 16px;
}

.skills-container{
    text-align: center;
}

.skills-content{
    margin: 16px;
    max-width: 85%;
    display: inline-block;
}

.skills-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-item{
    margin: 2em;
    height: 125px;
    width: 125px;
}

.skills-category-name{
    text-align: left;
    padding-left: 2em;
}

.skills-item img{
    height: 64px;
    width: 64px;
    margin-bottom: 1em;
}