#contact{
    display: flex;
    justify-content: center;
}

.contact-container{
    margin-top: 3em;
    margin-bottom: 3em;
    min-width: 300px;
    max-width: 2000px;
    text-align: center;
}

.contact-head{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
}

.contact-body{
    display: flex;
    flex-wrap: wrap;
}

.contact-content{
    text-align: center;
    justify-content: center;
    width: 300px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
}

.contact-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
}

.contact-address a{
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    color: blue;
}

.contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    width: 400px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0px;
}

.contact-form .form-contact-inp{
    width: 250px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.contact-form .form-message-inp{
    width: 250px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.contact-form .form-button{
    width: 250px;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.formFeedbackContainer{
    max-width: 100%;
    overflow: hidden;
}