.scrolled{
    top: 0px;
    position: fixed;
    background-color: lightgreen;
  }

.navbar-container{
  width: 100%;
  transition: 2s;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: plum;
}

.active-link{
  background-color: white;
}