.scrolled{
    top: 0px;
    position: fixed;
    background-color: lightgreen;
  }

.navbar-container{
  width: 100%;
  transition: 2s;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: plum;
  position: fixed;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 10;
}

.navlink-active{
  background-color: white;
}