.footer-container{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    justify-content: space-around;
    padding-left: 2em;
    padding-right: 2em;
}

.footer-social-links a{
    margin: 0.5em;
    justify-content: center;
}

.footer-social-links a img{
    height: 24px;
    width: 24px;
}

.footer-powered-by{
    display: flex;
}

.footer-icon{
    margin: 0.5em;
}